{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header" style="margin-bottom: 1rem;">
		<h1>👾 Patrick O'Dacre</h1>
    </header>
    <div class="post-content">

		<blockquote>
			<p>"An idiot admires complexity, a genius admires simplicity" - Terry Davis</p>
		</blockquote>

		<blockquote>
			<p>"You don't have to be a genius to make your software better - you just have to be willing to learn and willing to go against conventions." - <a href="https://handmade.network/manifesto" target="_blank">Handmade Manifesto.</a>
			</p>
		</blockquote>

		<h2>💻 Currently working on:</h2>

		<ul>
			<li>Confidential Computing solutions using AWS Nitro Enclaves</li>
			<li>Lead Developer - The Water Health Index -- Water Health Management Platform</li>
			<li>Lead Developer - Missionary Connect</li>
		</ul>

		<h2>⚔️ Profiles</h2>

		<ul>

			<li>
				<a href="https://x.com/patrickodacre/" target="_blank">X</a>
			</li>
			<li>
				<a href="https://github.com/patrickodacre/" target="_blank">GitHub</a>
			</li>
			<li>
				<a href="https://www.youtube.com/@handmadegamesdev" target="_blank">Handmade Games on YouTube</a>
			</li>
			<li>
				<a href="https://www.youtube.com/@buildtolearn" target="_blank">Build to Learn on YouTube</a>
			</li>
		</ul>
    </div>
</article>
{{- end -}}

