{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header" style="margin-bottom: 1rem;">
		<h1>👾 About</h1>
    </header>
    <div class="post-content">

		<p>I'm a professional programmer with a keen interest in cybersecurity.</p>

		<p>I value curiosity, clear thinking, and a solution only as complex as the problem demands.</p>

		<blockquote>
			<p>"An idiot admires complexity, a genius admires simplicity" - Terry Davis</p>
		</blockquote>

		<blockquote>
			<p>"You don't have to be a genius to make your software better - you just have to be willing to learn and willing to go against conventions." - <a href="https://handmade.network/manifesto" target="_blank">Handmade Manifesto.</a>
			</p>
		</blockquote>



		<h2>⚔️ Profiles</h2>

		<ul>
			<li>
				<a href="https://github.com/patrickodacre/" target="_blank">GitHub</a>
			</li>
			<li>
				<a href="https://tryhackme.com/p/pdodacre" target="_blank">Try Hack Me</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/patrickodacre/" target="_blank">LinkedIn</a>
			</li>
		</ul>
    </div>
</article>
{{- end -}}

