{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header" style="margin-bottom: 1rem;">
		<h1>👾 Patrick O'Dacre</h1>
    </header>
    <div class="post-content">

    	<p>
  		I am a software engineer experienced in building for the Web and the Blockchain, DevOps and cyber security.
    	</p>

		<p>I value curiosity, clear thinking, and a solution only as complex as the problem demands.</p>

		<blockquote>
			<p>"An idiot admires complexity, a genius admires simplicity" - Terry Davis</p>
		</blockquote>

		<blockquote>
			<p>"You don't have to be a genius to make your software better - you just have to be willing to learn and willing to go against conventions." - <a href="https://handmade.network/manifesto" target="_blank">Handmade Manifesto.</a>
			</p>
		</blockquote>

		<h2>💻 Currently working on:</h2>

		<ul>
			<li>Software && Security @ <a href="https://picdo.org/" target="_blank">PICDO</a> and <a href="https://rexxfield.com/" target="_blank">Rexxfield Cyber Crime Investigators</a></li>
			<li>Ethical Hacking && Bug Bounties</li>
			<li>Go && Distributed Systems Programming</li>
		</ul>


		<h2>⚔️ Profiles</h2>

		<ul>
			<li>
				<a href="https://github.com/patrickodacre/" target="_blank">GitHub</a>
			</li>
			<li>
				<a href="https://tryhackme.com/p/pdodacre" target="_blank">Try Hack Me</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/patrickodacre/" target="_blank">LinkedIn</a>
			</li>

			<li>
				<a href="https://www.youtube.com/@handmadegamesdev" target="_blank">Handmade Games on YouTube</a>
			</li>

			<li>
				<a href="https://www.youtube.com/@buildtolearn" target="_blank">Build to Learn on YouTube</a>
			</li>
		</ul>
    </div>
</article>
{{- end -}}

